*{
    box-sizing: border-box;
}
.titulo{
    background-image:url(../img1/grad.png) ;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}   

body{
    background-color:  hsl(186, 25%, 8%) ;
}

.header {
    display: flex;
    height: 100px;
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.tit {
    align-self: center;
    font-family: AgrandirR;
}
.menu a {
    font-size: 16px;
    font-family: Kollektif;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 30px;
    transition: color .5s;
}
.menu a:hover {
    color: pink;
}
.menu {
    align-self: center;
    padding: 120px;
}    
.input {
    align-self: center;
}
.buscador {
    border-radius: 30px;
    outline: none;
    padding: 5px;
    background-color: rgba(227, 224, 224, 0.763);
}
.botonBuscador {
    border-radius: 30px; /* Para que la forma sea cirular y no un cuadrado */
    padding: 7px;
    background-color: rgba(227, 224, 224, 0.763);
    font-family:Kollektif ;

}
.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width: 187.3vh;
    height: 490px;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }
.avengers{
    order: 1;
    align-self: flex-start;
    width: 250px;
    height: 150px;
    margin: 15px;
}
.gladiator{
    order: 2;
align-self: center;
width: 250px;
height: 150px;
margin: 15px;
}
.rapidos{
    order: 3;
    align-self: center;
    width: 250px;
    height: 150px;
    margin: 15px;  
}
.starwars{
    order: 4;
align-self: flex-end;
width: 250px;
height: 150px;
margin: 15px;
}
.stranger{
    order: 5;
    align-self: flex-end;
    width: 250px;
    height: 150px;
    margin: 15px;
}
.div{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: Kollektif;
}
.pelicula{
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin: 2px;
    flex-direction: row;
}
.imagen{
    width: 100%;
}
.imagen:hover {
    width: 270px;
}
.container{
        display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-around; 
         margin: 1% 1% 30% 1%;
        }
        
.footer {
    width: 100%;
    font-size: 12px;
    font-family: AgrandirR ;
    text-align: center;
    color: grey;
}
@font-face {
    font-family: Kollektif;
    src: url(../tipografias/Kollektif.ttf);
}
@font-face {
    font-family: AgrandirR ;
    src: url(../tipografias/Agrandir-Regular.ttf);
}
@font-face {
    font-family: AgrandirW;
    src: url(../tipografias/Agrandir-WideLight.ttf);
}
@media (max-width: 450px) {
    .video-wrapper {
        display: none;
       }
       video {
        display: none;
       }
       .titulo{
         padding: 2px;
         width: 100%;
     }
     .header { 
         height: 80px;
         font-size: 10px; 
         width: 90%;
         margin: 0px; 
         padding: 0px;
     }
     .tit {
         font-size: 15px;
      }
      .menu a {
          font-size: 14px;
          padding: 5px;  
      }
      .menu {
          align-self: center;
          padding: 30px;
      }         
      .buscador {
          max-width: 20%;
           padding: 1px;
       }
       .botonBuscador {
           padding: 1px;
           max-width: 50%;
       }
       .input {
           width: 35%;
       }
       .pelicula {
         margin-bottom: 10%;
         align-self: center;
     }
     .footer {
         font-size: 9px;
         margin: 2px;
         padding: 0px;
         align-items: center;
     }
     ul {
         margin: 0px;
         padding: 0px;
     }
     body {
         margin: 1px;
     }}
