*{
    box-sizing: border-box;
}
body {
    background-color:#0F1819;
    }

.header {
    display: flex;
    height: 100px;
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.tit { /* clase del titulo para que se centre*/
    align-self: center;
    font-family: AgrandirR ;
}
.menu a {
    font-size: 16px;
    font-family: Kollektif;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 30px;
    transition: color .5s;
}
.menu a:hover {
    color: pink;
}
.menu {
    align-self: center;
    padding: 120px;
}    

.input { /* clase del buscador para que se centre*/
    align-self: center;
}
.buscador {
    border-radius: 30px;
    outline: none;
    padding: 5px;
    background-color: rgba(227, 224, 224, 0.763);
}
.botonBuscador {
    border-radius: 30px; /* Para que la forma sea cirular y no un cuadrado */
    padding: 7px;
    background-color: rgba(227, 224, 224, 0.763);
    font-family:Kollektif ;
}

/* Apartir de aca termina el css del header */

.contenedorpadre { /* Es la flex box que contiene todo*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100vw; /* Para que ocupe la pantalla entera y despues se pueda centrar*/
        margin: 1% 1% 7% 1%;
    } 
.cajagrande { 
    display: flex; /* Se mueven los items para el costado y no se van abajo*/
    height: 50vh; /* Queda centrado en el medio*/
    align-items: flex-start; /* Para que queden todos alineados al en el "start" de la caja*/
    }
    
.contenedorpadre2 {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        color: black;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 600px; /* Para que el texto no se vaya para abajo, si no que se quede dentro de la caja */
    }
.contenedorpadre2 p {
        margin: 0px 0px 20px; /* Para que solo se modifique el margin de abajo */
        font-size: 20px;
        color: white;
        font-family: Kollektif;
    }

.favoritos {
    color: aliceblue;
    font-family: Kollektif;
    font-size: 18px;
}
.circuloFavoritos {  /* clase creada para que el boton de favoritos se aline con la imagen */
    margin: 0px 5px 0px 0px;
}
.contenedorpadre2 h2 {
    color: white;
    margin: 0px 0px 20px;
    font-family: AgrandirW;
}

.imgpelicula {
    width: 650px;
    border-radius: 30px; 
}
.estrellas {
    width: 150px; 
    margin: 0px 0px 20px;
    font-size: 20px;
    color: white;
    font-family: Kollektif;  
}
.footer {
    width: 100%;
    font-size: 12px;
    font-family: AgrandirR ;
    text-align: center;
    color: grey;
}
@font-face {
    font-family: Kollektif;
    src: url(../tipografias/Kollektif.ttf);
}
@font-face {
    font-family: AgrandirR ;
    src: url(../tipografias/Agrandir-Regular.ttf);
    }
@font-face {
    font-family: AgrandirW;
    src: url(../tipografias/Agrandir-WideLight.ttf);
    }
@media (max-width: 450px) {
    .header { 
        height: 80px;
        font-size: 10px; 
        width: 90%;
        margin: 0px; 
        padding: 0px;
    }
    .tit {
       font-size: 15px;
    }
    .menu a {
        font-size: 14px;
        padding: 5px;  
    }
    .menu {
        align-self: center;
        padding: 30px;
    }         
    .buscador {
        max-width: 20%;
         padding: 1px;
     }
     .botonBuscador {
         padding: 1px;
         max-width: 50%;
     }
     .input {
         width: 35%;
     }
     /*header */
     .imgpelicula {
        width: 400px;
    }
    .estrellas {
        width: 100px; 
        margin: 0px 0px 20px;
    }
    .contenedorpadre2 {
        padding: 15px;
        max-width: 600px; /* Para que el texto no se vaya para abajo, si no que se quede dentro de la caja */
    }
    .contenedorpadre { /* Es la flex box que contiene todo*/
        margin: 0% 1% 38% 1%;
    } 
    .cajagrande { 
        display: block; 
        }
    .contenedorpadre2 p {
        margin: 0px 0px 20px; /* Para que solo se modifique el margin de abajo */
        font-size: 16px;
        }   
    
    .footer {
        font-size: 9px;
        margin: 2px;
        padding: 0px;
        align-items: center;
    }
    ul {
        margin: 0px;
        padding: 0px;
        }
    body {
        margin: 1px;
}
    .favoritos {
        font-size: 16px;
    }
}