*{
    box-sizing: border-box;
}
.titulo{
    background-image:url(../img1/grad.png) ;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}   

body{
    background-color:  hsl(186, 25%, 8%) ;
}

.header {
    display: flex;
    height: 100px;
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.tit {
    align-self: center;
    font-family: AgrandirR;
}
.menu { /* clase del manu de barras para que se centre*/
    align-self: center;
    padding: 50px;
}
.menu a {
    font-size: 16px;
    font-family: Kollektif;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 30px;

}
.input {
    align-self: center;
}
.buscador {
    border-radius: 30px;
    outline: none;
    padding: 5px;
    background-color: rgba(227, 224, 224, 0.763);
}
.botonBuscador {
    border-radius: 30px; /* Para que la forma sea cirular y no un cuadrado */
    padding: 7px;
    background-color: rgba(227, 224, 224, 0.763);
    font-family:Kollektif ;

}
.avengers{
    order: 1;
    align-self: flex-start;
    width: 250px;
    height: 150px;
    margin: 15px;
}
.gladiator{
    order: 2;
align-self: center;
width: 250px;
height: 150px;
margin: 15px;
}
.rapidos{
    order: 3;
    align-self: center;
    width: 250px;
    height: 150px;
    margin: 15px;  
}
.starwars{
    order: 4;
align-self: flex-end;
width: 250px;
height: 150px;
margin: 15px;
}
.stranger{
    order: 5;
    align-self: flex-end;
    width: 250px;
    height: 150px;
    margin: 15px;
}
.div{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: Kollektif;
}
.pelicula{
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin: 2px;
    flex-direction: row;
}
.imagen{
    width: 100%;
}
.container{
        display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-around; 
         margin: 1% 1% 18% 1%;
        }
        
.footer {
    width: 100%;
    font-size: 12px;
    font-family: AgrandirR ;
    text-align: center;
    color: grey;
}
@font-face {
    font-family: Kollektif;
    src: url(../tipografias/Kollektif.ttf);
}
@font-face {
    font-family: AgrandirR ;
    src: url(../tipografias/Agrandir-Regular.ttf);
}
@font-face {
    font-family: AgrandirW;
    src: url(../tipografias/Agrandir-WideLight.ttf);
}