*{
    box-sizing: border-box;
}
body{
    background-color: #0f1819;
    width: 100%;
}


/* Header */
.header { 
    display: flex;
    height: 100px;
    font-size: 10px;
    color: rgb(255, 255, 255); 
}
.tit {
    align-self: center;
    font-family: AgrandirR;
    font-weight: bold;
}
.menu a {
    font-size: 16px;
    font-family: Kollektif;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 30px;
    transition: color .5s;
}
.menu a:hover {
    color: pink;
}
.menu {
    align-self: center;
    padding: 120px;
}    
      
.input {
    align-self: center;
}
.buscador {
    border-radius: 30px;
    outline: none;
    padding: 5px;
    background-color: rgba(227, 224, 224, 0.763);
}
.botonBuscador {
    border-radius: 30px;
    padding: 7px;
    background-color: rgba(227, 224, 224, 0.763);
    font-family:Kollektif ;

}


/* Video */
.video-wrapper { /* el container del video */
    position: relative;
  
    width: 100%;
    height: 570px;
  
    /* Propiedad para que el video no sobrepase el div */
    overflow: hidden;
  
    /* Centramos el contenedor */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  video {
    /** Con esto se simula el efecto background image */
    object-fit: cover;
    width: 100%;
    height: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  /* Barras de texto de todos los html */
.barras{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: url(../img1/grad.png);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}   


/* Dettale de genero */
.titulogenpeli{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: url(../img1/grad.png);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}   
.titulogenserie{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: url(../img1/grad.png);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}  
.detalleGeneroPeli{
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around; 
     margin: 1% 1% 3% 1%;
}
.detalleGeneroSerie{
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around; 
     margin: 1% 1% 3% 1%;
}

a.bordegen{
    background-color: rgba(41, 43, 44, 0.668);
    border-radius: 3%;
    
}
/* Index */ 
.peliculaspop {
   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    margin: 1% 1% 5% 1%;
}
.seriesspop {
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around; 
     margin: 1% 1% 5% 1%;
 
 }
 .lomasvisto {
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around; 
     margin: 1% 1% 6% 1%;
 
 }
.pelicula{
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin: 1% 1% 3% 1%;
}
.fecha {
    margin: 0% 0% 6% 0%;
}
.imagenport{
    width: 100%;
}
.imagenport:hover { /* Para que se agrande la foto cuando la seleccionas */
    width: 270px;
}
.titaño{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: Kollektif;
}
a.borde{
    background-color: rgba(41, 43, 44, 0.668);
    border-radius: 3%;
}
/* Generos */
.titulosgenero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    padding: 5px 5px 5px 5px;
    font-family: Kollektif;
    color: rgb(255, 255, 255);
    text-decoration: none; 
   
}
.generoPeli {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 2%;
}

.generoSerie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 2%;
    
}

.cajagen {
    display: grid;
    gap: 2px;
    background-image: linear-gradient(#beaec0, rgb(165, 151, 176),#9a82a0);
    border-radius: 10px;
}
.cajagen:hover {
    opacity: 55%;
}


a.angen{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
/* Favoritos */
.titulofav{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-image: url(../img1/grad.png);
    font-family: AgrandirW;
    font-weight: bolder;
    padding: 10px;
}   
.favoritospeli{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    margin: 1% 1% 5% 1%;


}
.favoritosserie{
        display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-around; 
         margin: 1% 1% 5% 1%;
     
     
}
.favorites{
    color: #ffffff;  
    font-family: Kollektif;
}
.favorit{color: #ffffff;  
    font-family: Kollektif;
}

/* Footer */

.footer {
    width: 100%;
    font-size: 12px;
    font-family: AgrandirR ;
    text-align: center;
    color: grey;
}
.TMDB{
    width: 10%;
}

/* Media */

@font-face { /** para agregar nuevas tipografías, descargamos en ttf y creamos carpeta */
    font-family: Kollektif;
    src: url(../tipografias/Kollektif.ttf);
} 
@font-face {
    font-family: AgrandirR ;
    src: url(../tipografias/Agrandir-Regular.ttf);
}
@font-face {
    font-family: AgrandirW;
    src: url(../tipografias/Agrandir-WideLight.ttf);
}
@media (max-width: 450px) {
    .video-wrapper {
       display: none;
      }
      video {
       display: none;
      }
      .barras{
    padding: 2px;
    width: 100%;
}
.header { 
    height: 80px;
    font-size: 10px; 
    width: 90%;
    margin: 0px; 
    padding: 0px;
}
.tit {
   font-size: 15px;
}
.menu a {
    font-size: 14px;
    padding: 5px;  
}
.menu {
    align-self: center;
    padding: 30px;
}         
.buscador {
    max-width: 20%;
     padding: 1px;
 }
 .botonBuscador {
     padding: 1px;
     max-width: 50%;
 }
 .input {
     width: 35%;
 }
.pelicula {
    margin-bottom: 10%;
    padding: 5%;
}
.footer {
    font-size: 9px;
    margin: 2px;
    padding: 0px;
    align-items: center;
}
.peliculaspop{
    flex-direction: column;
    align-items: center;
}
.seriesspop{ flex-direction: column;
    align-items: center;
}
.lomasvisto{
    flex-direction: column;
    align-items: center;
}
body {
    margin: 1px;
}

.generoPeli {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}

.generoSerie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    
}
.detalleGeneroSerie{
    flex-direction: column;
    align-items: center;

}
.detalleGeneroPeli{
    flex-direction: column;
    align-items: center;

}}





